* {box-sizing:border-box}
html{
	background-color: black;
	width: 100%;
	height: auto;
  overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
#ach_menu{
  background-color: grey;
  color:white;
  margin-top:8%;
  margin-bottom: 6%;
}
.ach_menu{
  font-size: 15px;
  border-bottom: 2px solid white;
  padding: 5px;
  padding-left: 10px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* my */
.ach1, .ach2, .ach3{
  background-color: white;
  width: 98%;
  height: 750px;
  padding-top: 50px;
}
body{
  background-color: black;
  margin-top: 50px;

}
.para{
  padding: 25px;
  font-size:1.4vw;
  width: 50%;
  float:left;
  padding-left: 45px;
}
.para p,.para2 p{
	color:black;
}
.image{
  float: right;
	width:49%;
  padding-right: 40px;
	margin-top:5%;
}
.rimage{
  width: 45%;
  border-radius: 50%;
  border:solid black 3px;
}
.ach_head{
  color:black;
  padding-left: 55px;
  font-size: 3vw;
  margin: 0;
}
.boximg{
	margin-top:10%;
	width: 90%;
	height:40vh;
	margin-left:5%;
	border:solid black 3px;
}
/* Slideshow container */

/* Hide the images by default */
/* Next & previous buttons */
.previous, .nextpage {
  cursor: pointer;
  position: absolute;
  left: 4px;
  margin-top: -18px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.previous{
  top:0;
}
.nextpage {
  bottom: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a blackbackground color with a little bit see-through */
.previous:hover, .nextpage:hover {
  background-color:rgb(0,0,0,0.8);
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name:fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* my */
#academic{
	width:100%;
}
#semester{
	padding:5px;
	font-size: 2.2vw;
	background-color: rgba(255,255,255,0.1);
}
.winners{
	display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
figure{
	width:20%;
}
figure img{
	width:100%;
	margin-bottom: 1%;
}
figcaption{
	width:90%;
	font-size: 1.5vw;
	text-align: center;
	color:white;
}
@media only screen and (max-width:600px){
	#ach_menu{
		margin-top:25%;
	}
	.ach_head{
		padding-left: 20px;
		font-size: 25px;
	}

	.para{
		font-size: 13px;
		padding-left: 35px;
		width: 100%;
	}
	.image{
		width:90%;
		margin-right: 3%;
	}
	.rimage{
			margin-left: 5%;
			width:44%;
			height:140px;
	}
	.boximg{
		height:180px;
		width:100%;
	}
	#semester{
		font-size:20px;
	}
	figcaption{
		font-size: 15px;
	}
}
